#Configuration of the data

## Importing the libraries

In [23]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

## Importing the files from the Data Modelling

In [24]:
df_inputs = pd.read_csv('/content/drive/MyDrive/Python/df_loan_train.csv',index_col=0)
df_inputs_test = pd.read_csv('/content/drive/MyDrive/Python/df_loan_test.csv',index_col=0)

In [25]:
df_targets = pd.read_csv('/content/drive/MyDrive/Python/df_loan_train_target.csv',index_col=0 ,header= 0)
df_targets_test = pd.read_csv('/content/drive/MyDrive/Python/df_loan_test_target.csv',index_col=0 ,header= 0)

In [26]:
df_inputs.shape

(373028, 325)

In [27]:
df_inputs_test.shape

(93257, 325)

In [28]:
df_targets.shape

(373028, 1)

In [29]:
df_targets_test.shape

(93257, 1)

In [30]:
df_inputs.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,dti:21.7-22.4,dti:22.4-35,dti:>35,mths_since_last_record:Missing,mths_since_last_record:0-2,mths_since_last_record:3-20,mths_since_last_record:21-31,mths_since_last_record:32-80,mths_since_last_record:81-86,mths_since_last_record:>=86
427211,427211,12796369,14818505,24000,24000,24000.0,36 months,8.90,762.08,A,...,1,0,0,1,0,0,0,0,0,0
206088,206088,1439740,1691948,10000,10000,10000.0,36 months,14.33,343.39,C,...,0,0,0,1,0,0,0,0,0,0
136020,136020,5214749,6556909,20425,20425,20425.0,36 months,8.90,648.56,A,...,0,0,0,1,0,0,0,0,0,0
412305,412305,13827698,15890016,17200,17200,17200.0,36 months,16.59,609.73,D,...,0,0,0,1,0,0,0,0,0,0
36159,36159,422455,496525,8400,8400,7450.0,36 months,12.84,282.40,C,...,0,1,0,1,0,0,0,0,0,0

In [31]:
df_targets.head()

        good_bad
427211         1
206088         1
136020         1
412305         0
36159          0

## Variables in the model

In [32]:
inputs_train_with_ref_cat = df_inputs.loc[: , ['grade:A',
'grade:B',
'grade:C',
'grade:D',
'grade:E',
'grade:F',
'grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',
'home_ownership:OWN',
'home_ownership:MORTGAGE',
'addr_state:ND_NE_IA_NV_FL_HI_AL',
'addr_state:NM_VA',
'addr_state:NY',
'addr_state:OK_TN_MO_LA_MD_NC',
'addr_state:CA',
'addr_state:UT_KY_AZ_NJ',
'addr_state:AR_MI_PA_OH_MN',
'addr_state:RI_MA_DE_SD_IN',
'addr_state:GA_WA_OR',
'addr_state:WI_MT',
'addr_state:TX',
'addr_state:IL_CT',
'addr_state:KS_SC_CO_VT_AK_MS',
'addr_state:WV_NH_WY_DC_ME_ID',
'verification_status:Not Verified',
'verification_status:Source Verified',
'verification_status:Verified',
'purpose:educ__sm_b__wedd__ren_en__mov__house',
'purpose:credit_card',
'purpose:debt_consolidation',
'purpose:oth__med__vacation',
'purpose:major_purch__car__home_impr',
'initial_list_status:f',
'initial_list_status:w',
'term:36',
'term:60',
'emp_length:0',
'emp_length:1',
'emp_length:2,3,4',
'emp_length:5,6',
'emp_length:7,8,9',
'emp_length:10',
'mths_since_issue_d:<38',
'mths_since_issue_d:38-39',
'mths_since_issue_d:40-41',
'mths_since_issue_d:42-48',
'mths_since_issue_d:49-52',
'mths_since_issue_d:53-64',
'mths_since_issue_d:65-84',
'mths_since_issue_d:>84',
'int_rate:<9.548',
'int_rate:9.548-12.025',
'int_rate:12.025-15.74',
'int_rate:15.74-20.281',
'int_rate:>20.281',
'mths_since_earliest_cr_line:<140',
'mths_since_earliest_cr_line:141-164',
'mths_since_earliest_cr_line:165-247',
'mths_since_earliest_cr_line:248-270',
'mths_since_earliest_cr_line:271-352',
'mths_since_earliest_cr_line:>352',
'delinq_2yrs:0',
'delinq_2yrs:1-3',
'delinq_2yrs:>=4',
'inq_last_6mths:0',
'inq_last_6mths:1-2',
'inq_last_6mths:3-6',
'inq_last_6mths:>6',
'open_acc:0',
'open_acc:1-3',
'open_acc:4-12',
'open_acc:13-17',
'open_acc:18-22',
'open_acc:23-25',
'open_acc:26-30',
'open_acc:>=31',
'pub_rec:0-2',
'pub_rec:3-4',
'pub_rec:>=5',
'total_acc:<=27',
'total_acc:28-51',
'total_acc:>=52',
'acc_now_delinq:0',
'acc_now_delinq:>=1',
'total_rev_hi_lim:<=5K',
'total_rev_hi_lim:5K-10K',
'total_rev_hi_lim:10K-20K',
'total_rev_hi_lim:20K-30K',
'total_rev_hi_lim:30K-40K',
'total_rev_hi_lim:40K-55K',
'total_rev_hi_lim:55K-95K',
'total_rev_hi_lim:>95K',
'annual_inc:<20K',
'annual_inc:20K-30K',
'annual_inc:30K-40K',
'annual_inc:40K-50K',
'annual_inc:50K-60K',
'annual_inc:60K-70K',
'annual_inc:70K-80K',
'annual_inc:80K-90K',
'annual_inc:90K-100K',
'annual_inc:100K-120K',
'annual_inc:120K-140K',
'annual_inc:>140K',
'dti:<=1.4',
'dti:1.4-3.5',
'dti:3.5-7.7',
'dti:7.7-10.5',
'dti:10.5-16.1',
'dti:16.1-20.3',
'dti:20.3-21.7',
'dti:21.7-22.4',
'dti:22.4-35',
'dti:>35',
'mths_since_last_delinq:Missing',
'mths_since_last_delinq:0-3',
'mths_since_last_delinq:4-30',
'mths_since_last_delinq:31-56',
'mths_since_last_delinq:>=57',
'mths_since_last_record:Missing',
'mths_since_last_record:0-2',
'mths_since_last_record:3-20',
'mths_since_last_record:21-31',
'mths_since_last_record:32-80',
'mths_since_last_record:81-86',
'mths_since_last_record:>=86']]

## Reference Categories

In [33]:
ref_categories = ['grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',
'addr_state:ND_NE_IA_NV_FL_HI_AL',
'verification_status:Verified',
'purpose:educ__sm_b__wedd__ren_en__mov__house',
'initial_list_status:f',
'term:60',
'emp_length:0',
'mths_since_issue_d:>84',
'int_rate:>20.281',
'mths_since_earliest_cr_line:<140',
'delinq_2yrs:>=4',
'inq_last_6mths:>6',
'open_acc:0',
'pub_rec:0-2',
'total_acc:<=27',
'acc_now_delinq:0',
'total_rev_hi_lim:<=5K',
'annual_inc:<20K',
'dti:>35',
'mths_since_last_delinq:0-3',
'mths_since_last_record:0-2']

In [34]:
inputs_train = inputs_train_with_ref_cat.drop(ref_categories, axis = 1)
inputs_train.head()

,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,home_ownership:OWN,home_ownership:MORTGAGE,addr_state:NM_VA,addr_state:NY,...,mths_since_last_delinq:Missing,mths_since_last_delinq:4-30,mths_since_last_delinq:31-56,mths_since_last_delinq:>=57,mths_since_last_record:Missing,mths_since_last_record:3-20,mths_since_last_record:21-31,mths_since_last_record:32-80,mths_since_last_record:81-86,mths_since_last_record:>=86
427211,1,0,0,0,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,0,0
206088,0,0,1,0,0,0,0,1,0,0,...,0,1,0,0,1,0,0,0,0,0
136020,1,0,0,0,0,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
412305,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
36159,0,0,1,0,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,0,0

#Fitting the model

In [35]:
reg = LogisticRegression()

In [36]:
pd.options.display.max_rows = None

In [37]:
reg.fit(inputs_train, df_targets)

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [38]:
reg.intercept_

array([1.03281281])

In [39]:
reg.coef_

array([[ 9.69289208e-01,  7.75827724e-01,  5.92529490e-01,
         4.29547839e-01,  3.00816380e-01,  1.32130166e-01,
         9.19067252e-02,  1.11314954e-01,  2.16413960e-02,
         4.72364557e-02,  5.48865251e-02,  5.32117513e-02,
         6.41984462e-02,  1.26868926e-01,  8.28142936e-02,
         1.79929806e-01,  2.41661096e-01,  2.14245261e-01,
         2.51564876e-01,  3.08822741e-01,  4.91571176e-01,
         9.63179899e-02, -9.83447894e-03,  2.96646399e-01,
         1.90540562e-01,  2.12535837e-01,  2.52874177e-01,
         5.37915212e-02,  8.21262711e-02,  1.01265960e-01,
         1.25993481e-01,  9.37886803e-02,  6.46552510e-02,
         1.29780909e-01,  8.54500809e-01,  6.55154642e-01,
         5.46245451e-01,  3.50840653e-01,  1.98653144e-01,
        -4.57425037e-02, -2.88414901e-01,  1.00788593e+00,
         6.43489120e-01,  3.94310942e-01,  1.71951518e-01,
         4.92630455e-02,  2.59102506e-02,  7.20003108e-02,
         1.13999009e-01,  1.05335047e-01,  9.06104705e-02,
         3.97792915e-02, -1.01948726e+00, -1.16396318e+00,
        -1.29960331e+00,  2.85047938e-01,  1.75242423e-01,
         1.51292653e-01,  1.39052710e-01,  1.26389270e-01,
         1.57369503e-01,  9.83213188e-02,  1.09119569e-01,
         1.66212379e-01, -1.84103360e-02,  2.56045564e-02,
         1.86467191e-01,  3.67832939e-02,  1.01930497e-03,
         4.48681195e-03,  1.85611781e-02,  3.85909493e-02,
         5.99649942e-02,  2.02810218e-01, -8.75773926e-02,
        -2.20826817e-02,  7.84948730e-02,  1.45250567e-01,
         2.22403486e-01,  2.95640505e-01,  3.68559173e-01,
         3.88199065e-01,  4.64094952e-01,  5.49717702e-01,
         4.86043341e-01,  2.63554249e-01,  3.94781482e-01,
         4.27032587e-01,  3.69098146e-01,  2.92921533e-01,
         1.97055574e-01,  1.81621263e-01,  1.58327410e-01,
         1.11051262e-01,  1.34804474e-02,  8.93687088e-02,
         9.43603426e-02,  5.21480100e-02, -3.99005851e-01,
        -2.83205229e-01, -3.84754343e-01, -2.11978773e-01,
        -4.08685367e-01, -4.66684883e-01]])

In [40]:
feature_name = inputs_train.columns.values

In [42]:
summary_table = pd.DataFrame(columns = ['Feature Name'], data = feature_name)
summary_table['Coefficients'] = np.transpose(reg.coef_)

In [43]:
summary_table.index = summary_table.index + 1
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]

In [45]:
summary_table = summary_table.sort_index()
summary_table.head()

  Feature Name  Coefficients
0    Intercept      1.032813
1      grade:A      0.969289
2      grade:B      0.775828
3      grade:C      0.592529
4      grade:D      0.429548